<div class="container">
    <h3></h3>
<div class="welcome-message">
<h5>The new way to browse, search, and share your favorite podcast.</h5>
</div>
    <div class="podcast-container row"></div>
</div>
<footer id="footer">
    <ul class="icons">
        <li><a href="https://www.linkedin.com/in/terry-kemp/" href="#" class="fa fa-linkedin"></a>
        </li>
        <li> <a href="mailto:Terry.kemp14@gmail.com" href="#" class="fa fa-google"></a>
        </li>
    </ul>

    <ul class="copyright">
    <li> © Terry Kemp 2018</li>
</ul>
</footer>