<div class="container">
    <h3></h3>
    <div class="podcast-container row"></div>
    <div class="welcome-message">
        <h4>SailCast</h4>
        <h5>The new way to browse, search, and share your favorite podcast.</h5>
    </div>
</div>